name: Daily ETL

on:
  schedule:
    # زمان‌ها به وقت تهران
    - cron: "00 21 * * *"  # 00:30 Tehran -> UTC 21:00
    - cron: "15 21 * * *"  # 00:45 Tehran -> UTC 21:15
    - cron: "30 21 * * *"  # 01:00 Tehran -> UTC 21:30
    - cron: "45 21 * * *"  # 01:15 Tehran -> UTC 21:45
    - cron: "40 21 * * *"  # 01:30 Tehran -> UTC 22:00
    - cron: "50 21 * * *"  # 01:45 Tehran -> UTC 22:15
    - cron: "00 22 * * *"  # 02:00 Tehran -> UTC 22:30
    - cron: "10 22 * * *"  # 02:15 Tehran -> UTC 22:45    
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest

    env:
      MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
      MYSQL_PORT: ${{ secrets.MYSQL_PORT }}
      MYSQL_USER: ${{ secrets.MYSQL_USER }}
      MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
      MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
      MYSQL_SSL_CA: ${{ secrets.MYSQL_SSL_CA }}
      BRSAPI_API_KEY: ${{ secrets.BRSAPI_API_KEY }}
      ETL_USER_AGENT: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test database connection
        run: python src/db.py

      - name: Run ETL
        run: python src/etl.py
