name: Daily ETL

on:
  schedule:
    # زمان‌ها به وقت تهران
    - cron: "00 17 * * *"  # 22:30 Tehran -> UTC 17:00
    - cron: "10 17 * * *"  # 22:40 Tehran -> UTC 17:10
    - cron: "20 17 * * *"  # 22:50 Tehran -> UTC 17:20
    - cron: "30 17 * * *"  # 23:00 Tehran -> UTC 17:30
    - cron: "40 17 * * *"  # 23:10 Tehran -> UTC 17:40
    - cron: "50 17 * * *"  # 23:20 Tehran -> UTC 17:50
    - cron: "00 18 * * *"  # 23:30 Tehran -> UTC 18:00
    - cron: "10 18 * * *"  # 23:40 Tehran -> UTC 18:10    
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest

    env:
      MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
      MYSQL_PORT: ${{ secrets.MYSQL_PORT }}
      MYSQL_USER: ${{ secrets.MYSQL_USER }}
      MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
      MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
      MYSQL_SSL_CA: ${{ secrets.MYSQL_SSL_CA }}
      BRSAPI_API_KEY: ${{ secrets.BRSAPI_API_KEY }}
      ETL_USER_AGENT: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test database connection
        run: python src/db.py

      - name: Run ETL
        run: python src/etl.py
